<link rel="stylesheet" href="background.css">
<link rel="stylesheet" href="form.css">
<link rel="stylesheet" href="category.css">

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="navbar">
  <%= link_to "Edit User", edit_user_registration_path, class: "subtitle" %>
  <%= link_to 'Create Category', new_category_path, class: "subtitle" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "subtitle" %>
</div>

<div class="form">
<div class="subtitle">Edit <%= resource_name.to_s.humanize %></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field input-container ic1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", id: "firstname", type: "text", placeholder: " " %>
      <div class="cut"></div>
      <%= f.label :email, for: "firstname", class: "placeholder" %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field input-container ic2">
      <%= f.password_field :password, autocomplete: "new-password", id: "lastname", class: "input", type: "password", placeholder: " " %>
      <div class="cut"></div>
      <%= f.label :password, for: "lastname", class: "placeholder" %>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    </div>

<div class="divide2"></div>


    <div class="field input-container ic2">
      <%= f.password_field :Confirm_Password, autocomplete: "new-password", id: "email", class: "input", type: "password", placeholder: " " %>
      <div class="cut"></div>
      <%= f.label :Confirm_Password, for: "email", class: "placeholder" %>
    <% end %>
    </div>

  <div class="field input-container ic2">
    <%= f.password_field :current_password, autocomplete: "current-password", id: "new_password", class: "input", type: "password", placeholder: " " %>
    <div class="cut"></div>
    <%= f.label :current_password, for: "new_password", class: "placeholder" %>
    <br />
    <em> current password required for changes.</em>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "submit" %>
  </div>
<% end %>
</div>

<div class="divide"></div>

<div class="form2">
<div class="title">Unhappy?</div>

<%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "submit" %>

<div class="divide3"></div>
<%= link_to "Back", home_path, class: "subtitle" %>
</div>
