<link rel="stylesheet" href="background.css">
<link rel="stylesheet" href="category.css">
<link rel="stylesheet" href="form.css">
<link rel="stylesheet" href="task.css">

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="navbar">
  <%= link_to "Edit User", edit_user_registration_path, class: "subtitle" %>
  <%= link_to 'Create Category', new_category_path, class: "subtitle" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "subtitle" %>
</div>

<div class="form">
<p class="title">Edit Category</p>

<div>
  <% if @category.errors.any? %>
    <h2>Could not update due to errors.</h2>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with scope: :category, model: @category, method: :put, local: true do |f| %>

  <div class="input-container ic1">
    <%= f.text_field :title, class: "input", id: "firstname", type: "text", placeholder: " " %>
    <div class="cut"></div>
    <%= f.label :title, for: "firstname", class: "placeholder" %>
  </div>

  <div>
    <%= f.submit "Update", class: "submit" %>
  </div>
<% end %>

<div class="divide2"></div>
<%= link_to 'Back', category_path(@category), class: "subtitle" %>
</div>